.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0.95) 0%,
        rgba(0, 0, 0, 0.85) 30%,
        rgba(0, 0, 0, 0.7) 50%,
        rgba(0, 0, 0, 0.3) 80%,
        rgba(0, 0, 0, 0.1) 100%);
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  width: 45%;
  line-height: 1.5;
  padding: 0 3rem 0 1rem;
  color: #fff;
  position: relative;
  z-index: 1;
  margin-left: 0;
  margin-right: auto;
}

.heroContent h1 {
  font-size: 3rem;
}

.stars {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 12px;
  width: 85%;
}

.star {
  color: #f39c12;
}

.actions {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}

.actions :nth-child(1) {
  background: #35d7da;
  font-weight: bold;
  color: #000;
  transition: background-color 0.2s;

  &:hover {
    background: #2bb7ba;
  }
}

.actions :nth-child(2) {
  background: #e74c3c;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.2s;

  &:hover {
    background: #c0392b;
  }
}

.heroImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 80%;
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  overflow: hidden;
  margin-left: auto;
  margin-right: 5%;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;

    &::before {
      background: linear-gradient(to top,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.7) 30%,
          rgba(0, 0, 0, 0.4) 70%,
          rgba(0, 0, 0, 0.2) 100%);
    }
  }

  .heroContent {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .heroContent h1 {
    font-size: 2rem;
  }

  .description {
    width: 100%;
    margin: 0 auto;
  }

  .heroImage {
    width: 90%;
  }

  .actions {
    flex-direction: column;
    width: 100%;
  }
}