.title {
  font-weight: bold;
  margin-top: 3rem;
  color: #797878;
}

.filmsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 1rem;
}

.filmCard {
  cursor: pointer;
  width: 180px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  border: solid 1px #343434;
  

  &:hover {
    box-shadow: 0 2px 12px #0008;
    transform: translateY(-2px) scale(1.03);
  }
}

.filmImage {
  width: 100%;
  border-radius: 8px;
}

.imageWrapper {
  position: relative;
  width: 100%;
}

.detailsButton {
  position: absolute;
  top: 12px;
  right: 16px;
  background: #35d7da;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 8px #0004;
  transition: background 0.2s;
  z-index: 2;

  &:hover {
    background: #1bb3b7;
  }
}

.filmTitle {
  font-weight: bold;
  margin-top: 8px;
}

.filmProducer {
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 2px;
}

@media (max-width: 768px) {
  .filmsGrid {
    flex-direction: column;
    align-items: center;
  }

  .filmCard {
    padding: 1rem;
    background-color: #343434;
    width: 90%;
    margin: 20px 0;
  }
}