.detalhesContainer {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.imageSection {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #1e1e1e;
}

.moviePoster {
  height: 60vh;
}


.detailsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  width: 70%;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }


  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0 0.25rem 0;
    color: #fff;
  }


  h3 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0 0.25rem 0;
    color: #f2f2f2;
  }

  p {
    margin-top: 1rem;
  }
}

.voltarButton {
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: #d32020;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .detalhesContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageSection {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .moviePoster {
    height: 40vh;
    margin-bottom: 1rem;
  }

  .detailsSection {
    width: 100%;
    margin: 2rem;
  }
}